/* Sidebar fixes */
#sidebar-content {
	width: 135px;
	float: right;
	margin-bottom: 25px;
	margin-right: 5px;
  position: absolute;
  top: 120px;
  left: 760px;
}

/* Slight position change of forgot? link at top of login form */
#forgot-password-link {
	position: absolute;
	top: 60px;
	left: 80px;
}