/* ----- general styles ----- */

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #ffff99;
	font-size: 95%;
	font-family: Arial, Liberation Sans, sans-serif;
	margin-bottom: 15px;
}

blockquote {
	font-style: italic;
	margin-left: 25px;
}

/* ----- container styles ----- */

#container {
	width: 902px;
	text-align: left;
	margin: 20px auto;
	background: url(../img/main-bg.jpg) repeat-y;
	position: relative;
	overflow: hidden;
}

/* ----- header styles ----- */

#header {
	background: url(../img/top-bot-bg.jpg) repeat-y;
	position: relative;
	overflow: hidden;
	height: 100%;
}

#header-content {
	background: url(../img/top-corners.jpg) no-repeat;
	height: 105px;
	overflow: hidden;
}

#header h1 {
	background: url(../img/logo.jpg) no-repeat;
	height: 46px;
	text-indent: -9999em;
	margin-top: 25px;
	margin-left: 140px;
}

#header img {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	border: none;
}

#header h3 {
	float: right;
	margin-right: 35px;
	color: #f9ea7d;
}

/* ---- login div styles at top of page ----- */

#login {
	width: 744px;
}

#login p.logged_in_as {
	position: absolute;
	top: 25px;
	left: 520px;
	color: #fff;
	background: #cb9c43;
	border: solid 1px #584711;
	padding: 5px 5px 5px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#login p.login {
  position: absolute;
  top: 30px;
  left: 550px;
  color: #fff;
  width: 135px;
  background: #cb9c43;
  border: solid 1px #584711;
  padding: 5px 5px 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}

#login p.login a {
  color: #fff;
  text-decoration: none;
  width: 135px;
  display: block;
  font-size: 20px;
}

#login p.login a:hover, #login p.login a:active {
  color: #fff968;
  text-decoration: underline;
}

/* ---- login form in header styles ----- */

#login form {
	position: absolute;
	top: 15px;
	left: 510px;
	color: #fff;
	font-size: 90%;
}

#login form label {
	float: left;
	width: 70px;
}

#login form input {
	margin-bottom: 5px;
	padding: 1px;
	width: 140px;
}

#login form input.button {
	background-color: #5d4b13;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	color: #fff;
	height: 26px;
	width: 78px;
	cursor: pointer;
}

#login form p.login_button {
	margin-left: 75px;
}

#content input.button {
	background-color: #5d4b13;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	color: #fff;
	height: 26px;
	width: 78px;
	cursor: pointer;
}

/* ----- main-nav styles ----- */

#main-nav {
	clear: both;
	background: url(../img/nav-bg.jpg) repeat-x;
	width: 744px;
	overflow: hidden;
	height: 40px;
}

#main-nav ul {
	list-style: none;
	float: right;
}

#main-nav li {
	float: left;
	padding: 0 15px 0 0;
	margin-top: 16px;
}

#main-nav li a {
  display: block;
}

#main-nav a:link, #main-nav a:visited {
	color: #fff968;
	text-decoration: none;
}

#main-nav a:hover, #main-nav a:active {
	color: #b38938;
}

#main-nav a.current {
	color: #fff;
	cursor: default;
}

/* -- Sub navigation for drop menu -- */

#nav li ul {
  display: none;
  width: 9em;
  background-color: #7a6020;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 0 0 10px 0;
  z-index: 1;
}

#nav li:hover ul, #nav li.hover ul {
  display: block;
  position: absolute;
}

#nav li:hover li, #nav li.hover li {
  float: none;
  padding-left: .3em;
}

#nav li:hover li a, #nav li.hover li a {
	color: #fff968; 
}

#nav li li a:hover {
	background-color: #ae892f;
}

/* ----- mid-banner ----- */

#mid-banner {
	height: 220px;
	width: 744px;
	background: url(../img/mid-banner-bg.jpg) repeat-x;
	float: left;
	position: relative;
}

#mid-banner img {
	margin-left: 60px;
}

#mid-banner #register-button a:link, #mid-banner #register-button a:visited {
  color: #fff;
  text-decoration: none;
  display: block;
}

#mid-banner #register-button a:hover, #mid-banner #register-button a:active {
  color: #fff968;
}

#mid-banner a:link, #mid-banner a:visited {
	color: #CB9C43;
}

/* ----- mid-banner registration form styles ----- */

#mid-banner form {
	position: absolute;
	top: 10px;
	left: 450px;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
	display:inline;
}

#mid-banner form input {
	margin-bottom: 5px;
	width: 150px;
	padding: 1px;
}

#mid-banner form label {
	float: left;
	width: 125px;
}

#mid-banner form input.button {
	background-color: #5d4b13;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	color: #fff;
	height: 26px;
	width: 78px;
	cursor: pointer;
}

#mid-banner form p.register_button {
	margin-left: 75px;
}
#mid-banner form input.button:hover {
	color: #fff968;
	cursor: pointer;
}

/* ----- signup-process styles ---- */

#signup-process {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #5a4717;
	color: #fff;
}

#signup-process ol {
	list-style: none;
}

#signup-process li {
	float: left;
	padding: 5px 20px 0 0;
	background: url(../img/number-bg.jpg) no-repeat;
	height: 45px;
	margin-top: 6px;
	padding-left: 15px;
	background-position: 4px 0px;
}

#signup-process ol p span {
	margin-right: 10px;
	color: #000;
	font-weight: 600;
}

#signup-process ol p small {
	display: block;
	margin-left: 20px;
}

/* ----- content styles ----- */

#content {
	clear: left;
	font-family: Arial, Liberation Sans, sans-serif;
	position: relative;
	zoom: 1.0; /* IE Text Shift Fix */
}

/* ----- main-content styles ----- */

#main-content {
	margin: 20px 10px 20px 10px;
	width: 700px;
	float: left;
	position: relative;
}

#main-content p, #main-content table, #main-content ol, #main-content ul, #main-content form {
	margin-bottom: 20px;
	margin-right: 20px;
	color: #272727;
	font-size: 90%;
}

#main-content h1 {
	margin-bottom: 20px;
	font-size: 24px;
	font-family: Arial, Liberation Sans, sans-serif;
	color: #876925;
}

#main-content h2, #main-content h3 {
	margin-bottom: 20px;
	font-size: 22px;
	font-family: Arial, Liberation Sans, sans-serif;
	color: #876925;
}

#main-content ul, #main-content ol {
	margin-left: 30px;
}

/* ----- main-content link styles ----- */

#main-content a:link, #main-content a:visited {
	color: #00f;
	text-decoration: none;
	border-bottom: 1px dotted #00f;
}

#main-content a:hover, #main-content a:active {
	text-decoration: none;
	border-bottom: 1px dotted #000;
	color: #000;
}

/* ----- main-content form styles --- */

#main-content form label {
  display: block;
  font-weight: bold;
}

#main-content .checkbox label {
  display: inline;
  margin-left: 10px;
}

#main-content .checkbox input {
 margin-bottom: 0; 
}

#main-content form input, #main-content form textarea, #main-content form select {
  margin-bottom: 25px; 
}

#main-content .bold {
  font-weight: bold; 
}

#main-content form p {
  margin-bottom: 0;
}

#main-content form p input {
  padding: 5px;
  width: 300px;
}

#main-content form p textarea {
  width: 400px;
}

#main-content form #UserAge, #main-content form .state {
  width: 30px;
}

#main-content input.button {
	background-color: #5d4b13;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	color: #fff;
	height: 26px;
	width: 78px;
	cursor: pointer;
	padding: 0;
}

#main-content ul.users li {
	margin-bottom: 10px;
}

/*#main-content #search-users {
	margin-top: 15px;
}

#main-content #search-users label {
	display: inline;
	margin: 0 3px 0 10px;
}*/

#search-users p {
	float: left;
}

#search-users p label {
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
}

#search-users p.button {
	clear: both;
}

#main-content form input#UserVisible {
	width: 20px;
}

#main-content form #visible-tag label {
	display: inline;
	margin-right: 5px;
}

/* Form background styling */
#personal-info, #profile-info, #login-fieldset, #register, #search-users, #edit-avatar, #add-avatar, #deactivate-account, #reactivate-account, #contact-message {
	border: none;
  background-color: #eee;
  width: 700px;
  padding: 10px;
  margin-bottom: 25px;
}

/* Form terms of service */

p#tos {
	margin-bottom: 10px;
	margin-top: 5px;
	font-weight: 100;
}

p#tos label {
	display: inline;
}

p#tos #UserToS {
	width: 20px;
	display: inline;
	margin: 0;
	padding: 0;
}

.tos-error-message {
	color: #890000;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 12px;
}

/* ----- Form errors ---- */

.form-error {
  border: 1px solid #890000;
}

#main-content .error-message {
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #890000;
  font-size: 12px;
}

/* -- Add and edit avatar styles ---*/
#add-avatar, #edit-avatar {
	overflow: hidden;
	padding-bottom: 20px;
}

/* ----- main-content pagination styles ----- */

#main-content .pagination {
	margin: 25px 0 25px 20px;
}

#main-content .pagination a, #main-content .pagination em, #main-content .pagination .disabled {
	border: 1px solid #584711;
	background: #CB9C43;
	padding: 5px;
}

#main-content .pagination a:link, #main-content .pagination a:visited {
	color: #fff;
}

#main-content .pagination a:hover, #main-content .pagination a:active {
	background-color: #584711;
}

#main-content .pagination .current {
	border: 1px solid #584711;
	background: #CB9C43;
	padding: 5px 5px 5px 5px;
	margin-right: 5px;
}

/* ----- User Account profile styles ----- */
#main-content .profile {
 clear: both;
}

#main-content .profile table.info {
  width: 200px;
}

#main-content .profile table.healt_cond {
  width: 500px;
}

#main-content .profile table.interests {
  width: 500px;
}

#main-content .profile table tr td {
  border: none;
  padding: 0 0 1em 1em;
  text-align: left;
}

#main-content .profile td.label {
  color: #999;
  width: 50px;
}

#main-content .profile h6 {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
}

#main-content #profile-header h2 {
  line-height: 90px;
}

#main-content small#profile-link {
	font-size: 12px;
}

/* ----- Users Search ----- */

.user {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	height: 150px;
	font-size: 12px;
}

.user .avatar {
	float: left;
	background: #ccc;
	height: 153px;
  width: 100px;
}

.user .avatar img {
	margin-top: 25px;
}

.user .headline {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	padding-left: 100px;
	font-weight: bold;
	color: #555;
}

/* ---- Friends view styles ----- */

#main-content #friends li {
  list-style: none;
  margin-bottom: 10px;
}

#main-content #friends img {
  line-height: -100px;
  float: left;
}

#main-content #friends div {
  position: relative;
  clear: both;
  left: 110px;
  top: -60px;
}

#friends a {
	font-size: 12px;
}
/* ----- User Messages styles ----- */

.user-message {
	border: 1px groove #ccc;
	padding: 5px;
	margin-bottom: 10px;
}

.user-message h4 {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Liberation Sans, sans-serif;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

.user-message #message-body {
	margin-left: 10px;
	padding: 10px;
	margin-bottom: 15px;
}

.user-message .avatar img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}

.user-message .message-intro p {
	margin-top: -15px;
}

p.reply-link {
	float: right;
}

#yui-texteditor {
	width: 600px;
}

#yui-texteditor h2 {
	font-size: 12px;
}

#yui-texteditor h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 12px;
	color: #000;
}

#yui-texteditor fieldset {
	margin: 0;
	padding: 0;
	width: 700px;
}

#yui-texteditor .yui-toolbar-group {
	margin: 0 15px 0 0;
	padding: 0;
}

#yui-texteditor .yui-toolbar-group ul {
	margin: 0;
	padding: 0;
}

#yui-texteditor .yui-toolbar-groupitem {
	margin: 0 0 0 0;
	padding: 0;
}

#yui-texteditor .yui-toolbar-group-insertitem h3 {
	display: inline;
}

/* ----- user-sidebar styles ---- */

.user-sidebar {
  width: 250px;
  background-color: #F0E68C;
  padding: 5px;
  margin-right: -25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
  float: right;
}

fieldset .user-sidebar {
  margin-right: 0px;
}

#main-content .user-sidebar p {
  color: #333;
}

#main-content .user-sidebar p span {
  font-weight: bold;
}

.user-sidebar p#user-heading {
	text-align: center;
	font-weight: bold;
	width: 250px;
	padding-bottom: 5px;
	border-bottom: 1px solid #584711;
}

/* ----- sidebar-content styles ----- */

#sidebar-content {
  width: 135px;
  float: right;
  margin-right: 10px;
  margin-bottom: 25px;
  position: absolute;
  top: 120px;
  left: 760px;
  overflow: hidden;
}

#sidebar-content p, #sidebar-content table, #sidebar-content ol, #sidebar-content ul, #sidebar-content form {
	margin-bottom: 15px;
	color: #272727;
	font-size: 110%;
}

#sidebar-content h1 {
	margin-bottom: 15px;
	font-size: 115%;
	font-family: Arial, Liberation Sans, sans-serif;
	color: #876925;
}

#sidebar-content h2, #sidebar-content h3 {
	margin-bottom: 15px;
	font-size: 100%;
	font-family: Arial, Liberation Sans, sans-serif;
	color: #876925;
} 

#sidebar-content ul, #sidebar-content ol {
	margin-left: 20px;
}

/* ----- footer styles ----- */

#footer {
	background: url(../img/top-bot-bg.jpg) repeat-y;
	position: relative;
	clear: both;
	overflow: hidden;
	color: #fff;
	font-family: Arial, Liberation Sans, sans-serif;
}

#footer-content {
	background: url(../img/bottom-corners.jpg) no-repeat bottom left;
	overflow: hidden;
	height: 75px;
}

#footer-content p {
	text-align: center;
	width: 744px;
	padding-top: 25px;
}

#footer a:link, #footer a:visited {
	color: #fff968;
	text-decoration: none;
	border-bottom: 1px dotted #fff968;
}

#footer a:hover, #footer a:active {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

/* --- User navigation in sidebar --- */

#user-nav {
  padding: 10px;
  font-size: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 50px;
  margin-bottom: 20px;
  right: 115px;
  width: 112px;
}

#user-nav ul {
  margin-left: 5px;
  list-style: none;
}

#user-nav li {
  margin-bottom: 10px; 
}

#user-nav a:link, #user-nav a:visited {
  color: blue; 
}

#user-nav a:hover, #user-nav a:active {
  color: #002288; 
}

/* ----- flash styles ----- */
#flashMessage, #authMessage {
	border: 1px solid #999;
	width: 700px;
	padding: 10px 10px;
	margin-bottom: 20px;
}

.success {
	color: #333;
	background-color: #98FB98;
}

.error, .message {
	color: #fff;
	background-color: #890000;
}

/* ---- FAQ's questions and answers ---- */

#main-content p.question {
	font-weight: bold;
	color: #000;
	padding-bottom: 3px;
	border-bottom: 1px solid #000;
}

#main-content p.answer {
	color: #333;
}


/* ----- Misc. ----- */
.float-left {
  float: left;
  display: block;
}

#main-content form .help {
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 15px;
	display: block;
}

.important_note {
	background-color: #AA0000;
	padding: 10px 10px 5px 10px;
	margin-bottom: 20px;
}

.important_note p {
		color: #fff !important;
}

/* forgot password div on login page */

#forgot-password {
	background-color: #ccc;
	border: 1px solid #aaa;
	padding: 10px 5px 10px 10px;
	font-size: 11px;
	position: relative;
	top: 150px;
	left: 350px;
	margin: -55px 0 0 0;
	width: 325px;
	text-align: center;
}

#forgot-password-link {
	position: absolute;
	top: 54px;
	left: 80px;
}

#forgot-password-link a:link, #forgot-password-link a:visited {
	color: #fff968;
}

#forgot-password-link a:hover, #forgot-password-link a:active {
	color: #fff;
}

#register .button {
	margin-top: 15px;
}

/* --- Chirp view page ---- */

p.chirp {
	width: 200px;
	overflow: hidden;
}
p.chirp img {
	float: left;
	margin-right: 15px;
}

p.chirp a {
	float: left;
	text-align: left;
	display: block;
	margin-top: 35px;
}
